@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500&display=swap');

:root {
  --color-primary: #DA4B4F;
  --color-secundary: #C22539;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Inter;
  background-color: #E5E5E5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
