

.container, .containerSelected {
    width: 48px;
    height: 48px;
    font-size: 18pt;
    position: absolute;
    color: black;
    right: 32px;
    top: 32px;
    transition: .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.container:hover {
    color: var(--color-primary);
}

.containerSelected {
    color: white;
    background-color: var(--color-primary);
}

.containerSelected:hover {
    background-color: var(--color-secundary);
}