

.container {
    width: 50px;
    height: 50px;
    font-size: 20pt;
    position: absolute;
    color: black;
    right: 10px;
    top: 10px;
    transition: .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.container:hover {
    color: var(--color-primary);
}

.containerSelected {
    width: 50px;
    height: 50px;
    font-size: 20pt;
    position: absolute;
    color: white;
    right: 10px;
    top: 10px;
    transition: .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.containerSelected:hover {
    background-color: var(--color-secundary);
}